body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dark-box {
    width: 30vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Chiller, sans-serif;
}

.text-container {
    padding: 2vw;
    text-align: center;
}

.text-container button {
    margin: 1vw;
    padding: 1vw 2vw;
    font-size: 2vw;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-family: Chiller, sans-serif; /* Updated font family */
    transform: rotate(-10deg); /* Apply a slight anti-clockwise rotation to the text */
}


.text-container button:hover {
    background-color: white;
    color: black;
}

.dynamic-box {
    width: 70%; /* Adjusted width to 70% */
    max-height: 80%; /* Added max-height to ensure it fits within the viewport */
    overflow-y: auto; /* Added overflow-y to enable scrolling if needed */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centering the box */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column; /* Added flex-direction to ensure content flows properly */
    align-items: center;
    justify-content: center;
    font-family: Chiller, sans-serif;
}

.button-with-image {
    /* Set button styles */
    background-size: contain; /* Ensure the background image fits inside the button */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
}

@media only screen and (max-width: 768px) {
    .dark-box {
        width: 60vw;
        height: 100vh;
        top: 0;
        right: 0;
    }
}
